/*Login template*/
@import url(https://fonts.googleapis.com/css?family=Roboto:100);
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background: radial-gradient(#818a8d, grey, #1ebeb9);
    margin: 0;
    font-family: Optima, sans-serif;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form .button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form .button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}


/*body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/




/*My css*/

* {
    margin: 0;
    padding: 0;
}

.login-page .title {
    text-align: center;
    font-size: 4em;
    position: absolute;
    left: 30px;
    top: 30px;
}

.main {
    min-height: 100vh;
}

.navbar {
    background-color: #222222;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 750px;
}

.nav-item {
    height: 30px;
}


.results-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    min-width: 750px;
}


#guide {
    align-self: center;
    font-size: 2.5em;
}

@media (max-width: 1150px) {
    #guide {
        font-size: 2em;
    }
}

@media (max-width: 925px) {
    #guide {
        font-size: 1.6em;
    }
}

.player-header {
    font-size: 1.5em;
}

.results {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    justify-content: space-around;
    min-width: 875px;
}


.list-group-item {
    display: flex;
    width: 400px;
    height: 75px;
    position: relative;
    cursor: pointer;
}

.list-group-item img {
    height: 50px;
    position: absolute;
    top: 50%;
    margin-top: -25px;
}

.list-group-item p {
    position: absolute;
    left: 75px;
    top: 50%;
    margin-top: -10px;
}

.list-group-item:hover {
    background-color: #595959;
}

.active-result-tab {
    background-color: #595959;
}

#thumbs-up:hover {
    cursor: pointer;
    color: #1ec320;
}

.remove {
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -15px;
    color: #c51c1c;
    font-size: 30px !important;
}

.remove:hover {
    cursor: pointer;
    color: red;
}

.thumbs-up-clicked {
    color: #1ec320;
}

audio {
    cursor: pointer;
}

.my-playlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
}

.playlist-title {
    font-size: 2em;
}

.playlist-result-container {

}

.playlist-result {
    display: flex;
    align-items: center;
}

.error, .no-input, .uploading-tracks {
    font-size: 2em;
}


.play-button {
    font-size: 30px !important;
    position: absolute;
    right: 40px;
    top: 50%;
    margin-top: -15px;
}

.play-button:hover {
    color: #1ec320;
}

.uploading-tracks {
    display: none;
}
